# Data Preparation
The following need to be done:
* Load the relevant data sets from file
* Join them into a single data set
* Add additional computed features to the data
* Write the prepared data to file

### Set up the environment
We need a certain set of common libraries for the tasks to be performed. These are imported below. If an import statement errors, you will need to install the library in your environment using the command line command `pip install <library>`.

In [66]:
import pandas as pd
import os
import numpy as np
from datetime import date

### Set up the variables
Change the values of the variables below to suit the files (names and directory location) to be loaded.

In [67]:
temperature_file = os.path.normpath('.\data\TempData_2_10_2016.txt')
humidity_file = os.path.normpath('.\data\HumidData_2_10_2016.txt')

## Load the temperature data
Read the temperature data file into memory and report on success/failure.

In [68]:
column_names = ['recnum', 'datetime', 'temp_c', 'nest_id']
data_types = {'recnum': np.int32, 
              'datetime': str, 
              'temp_c': np.float32, 
              'nest_id': str}
file_size = os.path.getsize(temperature_file)
print('\nLoading temperature file into memory.\nFile is {0:.1f} MB.'.format((file_size/1000000)))

if file_size > 5000000: # over 5mb
    print('Loading into memory. Please be patient. ', flush=True)
else:
    print('Loading into memory. ', flush=True, end='')
    
df_temp = pd.read_csv(temperature_file,
                     names=column_names,
                     usecols=[0,1,2,3],
                     dtype=data_types,
#                      nrows=2048,               # for testing only
                      parse_dates=['datetime'],
                      dayfirst=True,
                      encoding='utf-8',
                      error_bad_lines=False,
                      warn_bad_lines=True
                     )

if df_temp is not None:
    print('Success: loaded {0:,} records.'.format(len(df_temp)))
else:
    print('### FAILED! ###')

Loading temperature file into memory.
File is 88.2 MB.
Loading into memory. Please be patient.
Success: loaded 2,169,903 records.

In [69]:
column_names = ['recnum', 'datetime', 'humidity', 'nest_id']
data_types = {'recnum': np.int32, 
              'datetime': str, 
              'humidity': np.float32, 
              'nest_id': str}
file_size = os.path.getsize(humidity_file)
print('\nLoading humidity file into memory.\nFile is {0:.1f} MB.'.format((file_size/1000000)))

if file_size > 5000000: # over 5mb
    print('Loading into memory. Please be patient. ', flush=True)
else:
    print('Loading into memory. ', flush=True, end='')

df_humd = pd.read_csv(humidity_file,
                     names=column_names,
                     usecols=[0,1,2,3],
                     dtype=data_types,
#                      nrows=2048,               # for testing only
                      parse_dates=['datetime'],
                      dayfirst=True,
                      encoding='utf-8',
                      error_bad_lines=False,
                      warn_bad_lines=True
                     )

if df_humd is not None:
    print('Success: loaded {0:,} records.'.format(len(df_humd)))
else:
    print('### FAILED! ###')

Loading humidity file into memory.
File is 93.2 MB.
Loading into memory. Please be patient.
Success: loaded 2,173,732 records.

### ----------------------------------------------------------------
# Dev and Test
### ----------------------------------------------------------------

In [70]:
joined = pd.merge(left=df_temp,
                        right=df_humd,
                        how='outer',
                        on=['nest_id', 'datetime'], # both have same keys
                        left_on=None, # same key names: don't need to specify R and L
                        right_on=None, # same key names: don't need to specify R and L
                        left_index=False, # dont' use left df index as key
                        right_index=False, # dont' use right df index as key
                        sort=True, # for efficiency do/not sort the df first
                        suffixes=['_temp', '_humd']
                        )[['nest_id', 'datetime', 'temp_c', 'humidity']] # take only these cols

print('Records in temperature data: {0:>20,}'.format(len(df_temp)))
print('Records in humidity data:    {0:>20,}'.format(len(df_humd)))
print('                              -------------------')
print('Records in joined data:      {0:>20,}'.format(len(joined)))
print('\nOverview:')
gb = joined.groupby(['nest_id'])
print('Number of nest_ids:          {0:>20,}'.format(len(gb)))
gb.agg(['count'])

# joined

Records in temperature data:            2,169,903
Records in humidity data:               2,173,732
                              -------------------
Records in joined data:                 2,173,738

Overview:
Number of nest_ids:                           140

        datetime temp_c humidity
           count  count    count
nest_id
101        18515  18515    18515
102        18515  18515    18515
103        17542  17542    17542
108        38444  38444    38444
10A        47659  47659    47659
10a         3073   3073     3073
110        17395  17395    17395
111        17494  17494    17494
117        20023  20023    20023
121        18514  18514    18514
122        17494  17494    17494
125        18515  18515    18515
126         6387   6387     6387
127        20021  20021    20021
129        17447  17447    17447
12A         6389   6389     6389
12a        11106  11106    11106
133         4096   4096     4096
134        20158  20158    20158
136        20298  20298    20298
138        16203  16203    16203
140        20019  20019    20019
18         17396  17396    17396
19         18516  18516    18516
200        17526  17526    17526
201        17525  13690    17525
203        11034  11034    11034
204        16474  16474    16474
205         3596   3596     3596
206        17525  17525    17525
...          ...    ...      ...
N3         18518  18518    18518
N4         39715  39715    39715
N5         21054  21054    21054
N6         41374  41374    41374
N7         15430  15430    15430
N8          6528   6528     6528
N9         12694  12694    12694
P1          2974   2974     2974
SE1         7118   7118     7118
SE2        21774  21774    21774
SE3        18399  18399    18399
SE4        16334  16334    16334
SE5        22007  22007    22007
SE6        16334  16334    16334
T1         21053  21053    21053
T2         21053  21053    21053
T3         21053  21053    21053
T3b        15324  15324    15324
T4         39558  39558    39558
T6          6582   6582     6582
T7          9508   9508     9508
T8          6582   6582     6582
T9          6383   6383     6383
W1         21112  21112    21112
W2         18513  18513    18513
W3          2980   2980     2980
W5          9458   9458     9458
W6          7819   7819     7819
W7          1151   1151     1151
W8          9457   9457     9457

[140 rows x 3 columns]